.launcherScreen{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.footer > ul {
  position: relative;
  padding: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  border-radius: 22px;
  background-color: rgba(32, 33, 39, 0.95);
  backdrop-filter: blur(2vh);
}

.footer > ul li {
  display: block;
  float: left;
  border-right: 1px solid var(--ev-c-gray-1);
  padding: 0 20px;
  font-size: 14px;
  color: snow;
  line-height: 14px;
  opacity: 0.8;
  &:last-child {
    border: none;
  }
}

.footer > button {
  position: relative;
  padding: 2vh 8vw;
  font-size: 4vh;
  background: rgba(255, 215, 0, 0.9);
  backdrop-filter: blur(2vh);
  cursor: pointer;
  border: none;
}